# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Streamlit files
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Python build files
build/
dist/
*.egg-info/

# Temporary files
*.tmp

# Model/cache files
*.pkl
